<ion-header>
  <ion-toolbar>
    <ion-title>Filter Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="filterOption" (ionChange)="setFilter($event)">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-label>Completed</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pending">
      <ion-label>Pending</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item *ngFor="let item of filteredItems">
      <ion-label [ngClass]="{'checked-item': filterOption === 'all' && item.checked}">
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
